.contact .contact-form{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
}

.contact .contact-form h3{
    text-align: center;
}

.contact .contact-form p{
    font-weight: 600;
}

.contact .contact-form .contact-info{
   margin-left:15%
}

.contact .contact-form input{
    font-weight: 400;
}

.contact .contact-form .button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact .map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}