@charset "UTF-8";

*,*::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 100%;
}

body{
    font-family: 'Open Sans';
    min-height: 100%;
    
}

body .mainbody{
    background-image: url(../images/bodyBg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 1024px;
    min-width: 100%;
}

header{
    background-image: url(../images/c10.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

nav{
    min-height:1024px
}

footer{
    text-align: center;
    clear: both;
}