@charset "UTF-8";



html{
    height: 100%;
    font-size: 100%;
}

body{
    font-family: 'Open Sans';
    min-height: 80%;
    border-radius: 5px;
}

.main-body{
    background-image: url(../assets/images/bodyBg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
   
}

header{
    background-image: url(../assets/images/c10.jpg);
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: center center;
    background-size: cover;
    height: 15rem;
}

nav{
    width: 100%;
    height: 2rem;
    padding-top: .25rem;
    background-color: darkslategray;
    text-align: center;
    padding-top:.5%
}

nav a{
    margin-right: 7%;
    margin-left: 7%;
    color: white;
    text-decoration: none;
    font-weight: 200;
    border-radius: 30px;
    padding: .25%;
}

nav a:hover{
    background-color: saddlebrown;
}

h1{
    text-align: center;
}

.hero-container .hero-image{
    height: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-block{
    width: 60%;
    margin:auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-weight: 700;
    text-align: justify;
}

.hero-container .jsh-links{
    width:515px;
    display:block;
	margin: auto;
    margin-bottom:2rem;
}

.hero-container .jsh-links img{
    margin-left:5px;
    border-radius:20px;
}

.hero-container .daily-lift{
    width:150px;
    display:block;
	margin: auto;
    margin-bottom:2rem;
}

.hero-container .daily-lift img{
    width: 150px;
}

.news{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.news img{
    border-radius: 50px;
    display: block;
    margin-top: 3rem;
    margin-left: auto;
    margin-right:auto;
}

.news a{
    text-decoration: none;
    color: brown;
}

.clear-float{
    clear: both;
}

footer{
    height: 2rem;
    width: 100%;
    bottom: 0;
    background-color: darkslategray;
    text-align: center;
    clear: both;
    padding-top: .25rem;
    position: relative;
}

footer a{
    color: black;
    text-decoration: none;
}